<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ng-container>Konfiguracija</ng-container>    </ion-title>  
 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <p>Unesite adresu servera</p>


  <div class="txt">
    <ion-icon name="albums-outline" slot="start"> </ion-icon>

    <ion-input   placeholder="Adresa servera" autocomplete="off" autocorrect="off" type="text" [(ngModel)]="server"
      name="email">

    </ion-input>
  </div>

  <ion-row>
    <ion-col>
      <ion-button type="button" expand="block"  class="primary" (click)="save()">Sacuvaj</ion-button>

    </ion-col>

  </ion-row>
</ion-content>
